@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1739112_ka2xhoctvve.eot?t=1586244708519'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1739112_ka2xhoctvve.eot?t=1586244708519#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK8AAsAAAAABowAAAJtAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBGIEcATYCJAMICwYABCAFhG0HMBvCBciemjwpUgXZMAxrZQ+HwNUQQbSGzt5vEBWijARUhCo6LBzWRrXS1ehUA+nqv/+1NneOJ4vz+nm8hIi11fkrPjtYEw0dD4lUoFEhNCaviSxYIs8nWKX7wL1CFIesT9w7/fO8C2Q+kHIZY9BYk8cETDCgvTGKrEBCb5hevqCBfEyg1YiGws7i+j7UJb0qEI+eY0A9F5aS5ZqFxpqDKb5o0FzeyxfwOfx+/NOLOkVDRTccXy/YMP1zyBRUl7Vz5RMiBHS8ARWWgCTOa9OHSoJxS1rFyyaAlLGf6hq7xF7tgv11urodDEHFPSmd6larC8g4uwRsYTavLu1jTz/fyfuD/r/499Mcl2ANxPY9/ukxP+RfE9IjWXUjwdLlR46NlSHnY2xMk06oP73jcmP7/qG1LZBldBvNk+PHj1Pi42M/d1kaaXb5M8FuHTJtbOV/c1uCbzfscEl9mVB9QvMZPMGfUvbsS6HW7pLH0gd1WRq1sqBVK2rA/l5/Yy0Dt5UPzQZuzttkOEWl2RSZ7BIatFlGo2braLVo6XibPqwksgUL7gBCt08Unb6i0u2bTPYXDQb9o1F3lNDqMvoubDMT3uA2kyFko3mBnpXEyrplMKrdJeckNDirDnmHxLkXw26rU8wtUUw8x5b81OmJKFScRLgInqMwTDDlxCdLWq5I2m+3Vd2bWlYSwaBtjBgEsSHTBeSxJGLKHy0GS5/fRRwnQgZuacolDxGW88ZHXS2dHuSSIe7VdC+v5E45eoRQkMISEbQI5pFQKIHS+nk+YhEt7ohkqq9thqm+htb6pugDylkb2lrCzKo03pwYsekBAAAAAA==') format('woff2'),
  url('//at.alicdn.com/t/font_1739112_ka2xhoctvve.woff?t=1586244708519') format('woff'),
  url('//at.alicdn.com/t/font_1739112_ka2xhoctvve.ttf?t=1586244708519') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1739112_ka2xhoctvve.svg?t=1586244708519#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e61c";
}
