.wrap {
  display: flex;
  flex: 1;
  width: 100%;
}
.wrap .borderBoxBgc {
  width: 93%;
  height: 100%;
  margin: 0 20px;
  background-image: radial-gradient(rgba(6, 32, 93, 0.6) 30%, rgba(6, 32, 93, 0));
}
.wrap .leftWrap {
  width: 30%;
  margin-bottom: 10px;
}
.wrap .middleWrap {
  width: 40%;
  margin: 0 7px 10px 7px;
}
.wrap .rightWrap {
  width: 30%;
  height: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.wrap .rightWrap .rightTopWrap {
  height: 40%;
  background-image: radial-gradient(rgba(6, 32, 93, 0.6) 30%, rgba(6, 32, 93, 0));
}
.wrap .rightWrap .rightMiddleWrap {
  height: 40%;
  background-image: radial-gradient(rgba(6, 32, 93, 0.6) 30%, rgba(6, 32, 93, 0));
}
.wrap .rightWrap .rightBottomWrap {
  height: 20%;
  background-image: radial-gradient(rgba(6, 32, 93, 0.6) 30%, rgba(6, 32, 93, 0));
}
